### String Formatter

In [1]:
name = 'Ankit Hans'

In [2]:
print('The name is {}'.format(name))

The name is Ankit Hans

In [3]:
print(f'The name is {name}')

The name is Ankit Hans

### Minimum width and alignment with the col

In [6]:
#1 10
#10 11

In [4]:
data_science_tuts = [('Python for Beginners', 19),
                     ('Feature Selection for ml', 11),
                     ('Machine learning tuts', 11),
                     ('Deep Learning Tutorials', 19)]

In [5]:
data_science_tuts

[('Python for Beginners', 19),
 ('Feature Selection for ml', 11),
 ('Machine learning tuts', 11),
 ('Deep Learning Tutorials', 19)]

In [6]:
for info in data_science_tuts:
    print(info)

('Python for Beginners', 19)
('Feature Selection for ml', 11)
('Machine learning tuts', 11)
('Deep Learning Tutorials', 19)

In [11]:
for info in data_science_tuts:
    print(f'{info[0]:{50}} {info[1]:{10}}')

Python for Beginners                                       19
Feature Selection for ml                                   11
Machine learning tuts                                      11
Deep Learning Tutorials                                    19

In [16]:
for info in data_science_tuts:
    print(f'{info[0]:<{50}} {info[1]:.>{10}}')

Python for Beginners                               ........19
Feature Selection for ml                           ........11
Machine learning tuts                              ........11
Deep Learning Tutorials                            ........19

### Working with .CSV or .TSV file

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('moviereviews.tsv', sep='\t')

In [19]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [20]:
data.shape

(2000, 2)

In [21]:
data['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [22]:
pos = data[data['label']=='pos']

In [23]:
pos.head()

   label                                             review
2    pos  this has been an extraordinary year for austra...
3    pos  according to hollywood movies made in last few...
11   pos  with stars like sigourney weaver ( " alien " t...
16   pos  i remember hearing about this film when it fir...
18   pos  garry shandling makes his long overdue starrin...

In [26]:
pos.to_csv('pos.tsv', sep='\t', index=False)

In [28]:
pd.read_csv('pos.tsv', sep='\t').head()

  label                                             review
0   pos  this has been an extraordinary year for austra...
1   pos  according to hollywood movies made in last few...
2   pos  with stars like sigourney weaver ( " alien " t...
3   pos  i remember hearing about this film when it fir...
4   pos  garry shandling makes his long overdue starrin...

build in magic command in jupyter %%writefile

In [29]:
%%writefile text1.txt
Hello, I am Ankit.
And I am Studying NLP, YO!

Writing text1.txt

In [30]:
%%writefile -a text1.txt
I am appending

Appending to text1.txt

### Use python's in built command to read and write

In [36]:
file = open('text1.txt', 'r')

In [37]:
file.read()

'Hello, I am Ankit.\nAnd I am Studying NLP, YO!\nI am appending \n'

In [38]:
file.read()

''

In [43]:
file.seek(0)

0

In [44]:
file.read()

'Hello, I am Ankit.\nAnd I am Studying NLP, YO!\nI am appending \n'

In [45]:
file.seek(0)

0

In [46]:
file.readline()

'Hello, I am Ankit.\n'

In [47]:
file.readline()

'And I am Studying NLP, YO!\n'

In [48]:
file.readline()

'I am appending \n'

In [49]:
file.readline()

''

In [50]:
file.seek(0)

0

In [51]:
file.readlines()

['Hello, I am Ankit.\n', 'And I am Studying NLP, YO!\n', 'I am appending \n']

In [52]:
file.readlines()

[]

In [53]:
file.close()

In [55]:
file.read()

ValueError: I/O operation on closed file.

In [58]:
# No need to close with this format
with open('text1.txt') as file:
    text_data = file.readlines()
    print(text_data)

['Hello, I am Ankit.\n', 'And I am Studying NLP, YO!\n', 'I am appending \n']

In [59]:
file.readline()

ValueError: I/O operation on closed file.

In [61]:
for temp in text_data:
    print(temp.strip())

Hello, I am Ankit.
And I am Studying NLP, YO!
I am appending

In [63]:
for i, temp in enumerate(text_data):
    print(str(i) + "   ---> " + temp.strip())

0   ---> Hello, I am Ankit.
1   ---> And I am Studying NLP, YO!
2   ---> I am appending

### File Writing

In [64]:
file = open('text2.text', 'w')

In [66]:
file.write('This is just another lesson')

27

In [67]:
file.close()

In [71]:
with open('text3.txt', 'w') as file:
    file.write('This is thid file \n wow')

In [72]:
text_data

['Hello, I am Ankit.\n', 'And I am Studying NLP, YO!\n', 'I am appending \n']

In [73]:
with open('text3.txt', 'a') as file:
    for temp in text_data:
        file.write(temp)